# **CREDIT RISK PREDICTOR**

**IMPORTING**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
import zipfile

**Reading the csv zip file**

In [5]:
with zipfile.ZipFile("train.csv.zip",'r') as zip_ref:
    zip_ref.extractall()
df = pd.read_csv("train.csv",low_memory=False)
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [7]:

#general inspection of the data
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB
None
       Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
count           84998.000000      100000.000000     100000.00000
mean             4194.170850          17.091280         22.47443
std              3183.686167         117.404834        129.05741
min               303.645417          -1.000000          0.00000
25%              1625.568229           3.000000          4.00000
50%              3093.745000           6.000000          5.00000
75%              5957.448333           7.000000          7.00000
max             15204.633333        1798.000000       1499.00000

       Interest_Rate  Delay_from_due_date  Num_Credit_Inquiries  \
count  100000.000000        100000.000000          98035.000000
mean       72.466040            21.068780             27.754251
std       466.422621            14.860104            193.177339
min         1.000000            -5.000000              0.000000
25%         8.000000            10.000000              3.000000
50%        13.000000            18.000000              6.000000
75%        20.000000            28.000000              9.000000
max      5797.000000            67.000000           2597.000000

       Credit_Utilization_Ratio  Total_EMI_per_month
count             100000.000000        100000.000000
mean                  32.285173          1403.118217
std                    5.116875          8306.041270
min                   20.000000             0.000000
25%                   28.052567            30.306660
50%                   32.305784            69.249473
75%                   36.496663           161.224249
max                   50.000000         82331.000000

In [9]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

**EDA**

In [12]:
# dropping records with no name
df = df[~df['Name'].isnull()]

In [14]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       13529
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                10280
Delay_from_due_date             0
Num_of_Delayed_Payment       6306
Changed_Credit_Limit            0
Num_Credit_Inquiries         1747
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           8149
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4040
Payment_Behaviour               0
Monthly_Balance              1081
Credit_Score                    0
dtype: int64

In [16]:
#type of loan 
df['Type_of_Loan'].value_counts()

Type_of_Loan
Not Specified                                                                                                                      1280
Personal Loan                                                                                                                      1158
Credit-Builder Loan                                                                                                                1150
Debt Consolidation Loan                                                                                                            1140
Student Loan                                                                                                                       1128
                                                                                                                                   ...
Student Loan, Mortgage Loan, Auto Loan, Mortgage Loan, Personal Loan, Not Specified, and Credit-Builder Loan                          4
Student Loan, Personal Loan, Home Equity Loan, Home Equity Loan, Not Specified, and Not Specified                                     4
Student Loan, Mortgage Loan, Debt Consolidation Loan, Home Equity Loan, Student Loan, Home Equity Loan, and Student Loan              3
Mortgage Loan, Not Specified, Personal Loan, Mortgage Loan, Auto Loan, Not Specified, Not Specified, Payday Loan, and Auto Loan       3
Student Loan, Credit-Builder Loan, Home Equity Loan, Mortgage Loan, and Student Loan                                                  3
Name: count, Length: 6260, dtype: int64

In [18]:
#since every category is pretty even so it doesnt make sense 
df['Type_of_Loan'] = df['Type_of_Loan'].fillna('Unknown')

In [20]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       13529
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment       6306
Changed_Credit_Limit            0
Num_Credit_Inquiries         1747
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           8149
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4040
Payment_Behaviour               0
Monthly_Balance              1081
Credit_Score                    0
dtype: int64

In [22]:
#for number of delayed payments
df['Num_of_Delayed_Payment'].value_counts(dropna=False).sort_index()

Num_of_Delayed_Payment
-1      278
-1_       7
-2      200
-2_      10
-3       84
       ...
972       1
974       1
996       1
9_      130
NaN    6306
Name: count, Length: 699, dtype: int64

In [24]:
#Convert to numeric, force errors to NaN
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce')

#Replace negatives with NaN safely
df.loc[df['Num_of_Delayed_Payment'].notna() & (df['Num_of_Delayed_Payment'] < 0), 'Num_of_Delayed_Payment'] = np.nan

#Fill NaNs with median
median_val = df['Num_of_Delayed_Payment'].median()
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(median_val)

In [26]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       13529
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment          0
Changed_Credit_Limit            0
Num_Credit_Inquiries         1747
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           8149
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4040
Payment_Behaviour               0
Monthly_Balance              1081
Credit_Score                    0
dtype: int64

In [28]:
# for num credit inquiries handling missing values
df['Num_Credit_Inquiries'] = pd.to_numeric(df['Num_Credit_Inquiries'], errors='coerce')
median_val = df['Num_Credit_Inquiries'].median()
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(median_val)

In [30]:

credit_age = pd.read_csv("train.csv", usecols=['Credit_History_Age'])
df['Credit_History_Age'] = credit_age['Credit_History_Age']

In [32]:
#converting the string of credit history age to numeric values in months
import re
def parse_credit_history(age_str):
    if pd.isnull(age_str):
        return np.nan
    age_str = str(age_str).strip().replace('\xa0', ' ')
    age_str = re.sub(' +', ' ', age_str)
    
    match = re.match(r'(\d+)\s+Years?\s+and\s+(\d+)\s+Months?', age_str)
    if match:
        years = int(match.group(1))
        months = int(match.group(2))
        return years * 12 + months
    return np.nan

df['Credit_History_Age'] = df['Credit_History_Age'].apply(parse_credit_history)

In [34]:
#handling the missing values 
median_val = df['Credit_History_Age'].median()
df['Credit_History_Age'] = df['Credit_History_Age'].fillna(median_val)

In [36]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       13529
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment          0
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age              0
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4040
Payment_Behaviour               0
Monthly_Balance              1081
Credit_Score                    0
dtype: int64

In [38]:
#Amount_invested_montly first cleaning the __10000__ field
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(str).str.replace('__', '')

In [40]:
#now handling the missing values 
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')
median_val = df['Amount_invested_monthly'].median()
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(median_val)

In [42]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       13529
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment          0
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age              0
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly         0
Payment_Behaviour               0
Monthly_Balance              1081
Credit_Score                    0
dtype: int64

In [44]:
#handling missing values for Monthly_Balance
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce')
median_val = df['Monthly_Balance'].median()
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(median_val)

In [46]:
#all missing data has been handled
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       13529
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment          0
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age              0
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly         0
Payment_Behaviour               0
Monthly_Balance                 0
Credit_Score                    0
dtype: int64

In [48]:
df['Customer_ID'].value_counts(normalize=True) * 100

Customer_ID
CUS_0x2646    0.008887
CUS_0xc570    0.008887
CUS_0x7ba9    0.008887
CUS_0xb808    0.008887
CUS_0x4854    0.008887
                ...
CUS_0x8ca     0.004444
CUS_0x8c5a    0.003333
CUS_0x1232    0.003333
CUS_0xa78b    0.003333
CUS_0xc600    0.003333
Name: proportion, Length: 12500, dtype: float64

**CLEANING OF THE DATA**

In [51]:
print(df.columns)
print(df.index.names)

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')
[None]

In [53]:
#Cleaning customer id
df['Customer_ID'] = df['Customer_ID'].astype(str).str.strip()

df.reset_index(drop=True, inplace=True)

print(df['Customer_ID'].isnull().sum())   
print(df['Customer_ID'].nunique())

0
12500

In [55]:
#cleaning age with respect to cust id
import re

def clean_age_value(val):
    if pd.isnull(val):
        return np.nan
    match = re.search(r'\d+', str(val))
    return int(match.group()) if match else np.nan

df['Age'] = df['Age'].apply(clean_age_value)

df['Age'] = df.groupby('Customer_ID')['Age'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)

In [57]:
#occupation cleaning

df['Occupation'] = df['Occupation'].replace(['______', 'None', '', ' '], np.nan)

df['Occupation'] = df.groupby('Customer_ID')['Occupation'].transform(
    lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan
)

In [59]:
#Annual_income cleaning
def clean_income(val):
    if pd.isnull(val):
        return np.nan
    match = re.search(r'\d+', str(val))
    return int(match.group()) if match else np.nan

df['Annual_Income'] = df['Annual_Income'].apply(clean_income)

df['Annual_Income'] = df.groupby('Customer_ID')['Annual_Income'].transform(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.median()
)

In [61]:
#now cleaning the monthly inhand salary and replacing values with their actual values
def fix_inhand_salary_consistent_fast(df):
    df = df.copy()
    
    # Compute median per Customer_ID
    salary_per_cust = df.groupby('Customer_ID')['Monthly_Inhand_Salary'].transform(
        lambda x: x.median() if not x.dropna().empty else df['Monthly_Inhand_Salary'].mode()
    )
    
    df['Monthly_Inhand_Salary'] = salary_per_cust
    return df

df = fix_inhand_salary_consistent_fast(df)

In [63]:
print(df['Monthly_Inhand_Salary'].isnull().sum())

0

In [65]:
#cleaning Num_bank_accounts and Num_credit_cards using mode
def fast_fix_by_mode(df, column_name):
    mode_per_customer = df.groupby('Customer_ID')[column_name].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
    df[column_name] = mode_per_customer
    return df

df = fast_fix_by_mode(df, 'Num_Bank_Accounts')
df = fast_fix_by_mode(df, 'Num_Credit_Card')
df = fast_fix_by_mode(df, 'Interest_Rate')
df = fast_fix_by_mode(df, 'Num_of_Loan')

In [66]:
pd.set_option('display.max_columns', None)
df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,11.27,4.0,_,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,14.0,11.27,4.0,Good,809.98,31.944960,220.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,_,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4.0,6.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,14.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4.0,9.27,4.0,Good,809.98,27.262259,270.0,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,14.0,11.27,4.0,Good,809.98,22.537593,271.0,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,3,4.0,5.42,2.0,Good,605.03,24.464031,319.0,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
8,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,7,1.0,7.42,2.0,Good,605.03,38.550848,320.0,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
9,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,3,14.0,5.42,2.0,_,605.03,33.224951,321.0,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard

In [67]:
#now  interest rate, num of loan and type of loan have been cleaned. Moving onto delay from due date and num of delayed payments
df['Delay_from_due_date'] = df['Delay_from_due_date'].abs()


df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(lambda x: np.nan if x < 0 else x)

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(lambda x: min(x, 50) if pd.notna(x) else x)

median_val = df['Num_of_Delayed_Payment'].median()
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(median_val)

In [68]:
df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,11.27,4.0,_,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",1,14.0,11.27,4.0,Good,809.98,31.944960,220.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,_,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4.0,6.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,14.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4.0,9.27,4.0,Good,809.98,27.262259,270.0,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,14.0,11.27,4.0,Good,809.98,22.537593,271.0,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,3,4.0,5.42,2.0,Good,605.03,24.464031,319.0,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
8,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,7,1.0,7.42,2.0,Good,605.03,38.550848,320.0,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
9,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,3,14.0,5.42,2.0,_,605.03,33.224951,321.0,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard

In [73]:
#cleaning changed credit limit
def clean_credit_limit_consistency(df):
    df = df.copy()
    
    # Replace group mode or fallback to global median if no valid value
    def get_mode_or_median(x):
        mode_val = x.dropna().mode()
        return mode_val.iloc[0] if not mode_val.empty else df['Changed_Credit_Limit'].median()
    
    df['Changed_Credit_Limit'] = df.groupby('Customer_ID')['Changed_Credit_Limit'].transform(get_mode_or_median)
    
    return df


df = clean_credit_limit_consistency(df)

In [75]:
#cleaning credit mix
def clean_credit_mix(df):
    df = df.copy()
    global_mode = df['Credit_Mix'].mode().iloc[0]

    df['Credit_Mix'] = df.groupby('Customer_ID')['Credit_Mix'] \
                         .transform(lambda x: x.mode().iloc[0] if not x.dropna().mode().empty else global_mode)
    return df

df = clean_credit_mix(df)

In [77]:
df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,11.27,4.0,Good,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",1,14.0,11.27,4.0,Good,809.98,31.944960,220.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,11.27,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4.0,11.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,14.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4.0,11.27,4.0,Good,809.98,27.262259,270.0,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,14.0,11.27,4.0,Good,809.98,22.537593,271.0,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,3,4.0,5.42,2.0,Good,605.03,24.464031,319.0,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
8,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,7,1.0,5.42,2.0,Good,605.03,38.550848,320.0,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
9,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,2,4,6,1,Credit-Builder Loan,3,14.0,5.42,2.0,Good,605.03,33.224951,321.0,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard

In [79]:
#outstanding debt has some _. we need to clean that
def clean_outstanding_debt(df):
    df = df.copy()

    # Replace underscores with NaN
    df['Outstanding_Debt'] = df['Outstanding_Debt'].replace('_', np.nan)
    
    # Convert to numeric
    df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce')
    
    # Fallback median
    fallback_median = df['Outstanding_Debt'].median()

    # Fill using mode per Customer_ID, fallback to median if needed
    df['Outstanding_Debt'] = df.groupby('Customer_ID')['Outstanding_Debt'] \
        .transform(lambda x: x.mode().iloc[0] if not x.dropna().mode().empty else fallback_median)

    return df

df = clean_outstanding_debt(df)

In [81]:
#credit utilization is clean though there are a lot of decimals that can be rounded off
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].round(4)

In [83]:
#cleaning payment of min amount 
def clean_payment_of_min_amount(df):
    df = df.copy()

    # Replace 'nm' with NaN
    df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].replace('nm', np.nan)

    # Global mode fallback
    global_mode = df['Payment_of_Min_Amount'].mode().iloc[0]

    # Fill using mode per customer, fallback to global mode
    df['Payment_of_Min_Amount'] = df.groupby('Customer_ID')['Payment_of_Min_Amount'] \
        .transform(lambda x: x.mode().iloc[0] if not x.dropna().mode().empty else global_mode)

    return df

df = clean_payment_of_min_amount(df)

In [85]:
#total emi and amount invested monthly are clean though there are a lot of decimals that can be rounded off
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].round(4)
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].round(4)

In [87]:
#to clean payment behaviour is tricky since there are 6 valid options and we have to replace the junk value
# we cant go off the cust id here bcuz even a single cust can have different values
# so we use ML to find which field decides the payment behaviour field the most valid replacement\
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
valid_values = [
    'High_spent_Small_value_payments',
    'Low_spent_Large_value_payments',
    'Low_spent_Medium_value_payments',
    'Low_spent_Small_value_payments',
    'High_spent_Medium_value_payments',
    'High_spent_Large_value_payments'
]

df_clean = df[df['Payment_Behaviour'].isin(valid_values)].copy()
df_dirty = df[~df['Payment_Behaviour'].isin(valid_values)].copy()

le = LabelEncoder()
df_clean['Payment_Behaviour_Label'] = le.fit_transform(df_clean['Payment_Behaviour'])

features = ['Monthly_Inhand_Salary', 'Outstanding_Debt', 'Total_EMI_per_month',
            'Credit_Utilization_Ratio', 'Monthly_Balance', 'Num_of_Delayed_Payment']

X = df_clean[features]
y = df_clean['Payment_Behaviour_Label']

model = RandomForestClassifier(random_state=42)
model.fit(X, y)

df_dirty_pred = df_dirty.copy()
df_dirty_pred['Payment_Behaviour_Label'] = model.predict(df_dirty[features])
df_dirty_pred['Payment_Behaviour'] = le.inverse_transform(df_dirty_pred['Payment_Behaviour_Label'])

df.loc[df_dirty_pred.index, 'Payment_Behaviour'] = df_dirty_pred['Payment_Behaviour']

In [87]:
#monthly balance is also clean just need a round off
df['Monthly_Balance'] = df['Monthly_Balance'].round(4)

**ML MODEL TRAINING**

In [ ]:
df = df.drop(columns=['Customer_ID'])

from sklearn.preprocessing import LabelEncoder
le_target = LabelEncoder()
df['Credit_Score_Label'] = le_target.fit_transform(df['Credit_Score'])

categorical_cols = df.select_dtypes(include='object').columns.tolist()
categorical_cols.remove('Credit_Score')  # already handled

df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

X = df.drop(columns=['Credit_Score', 'Credit_Score_Label'])
y = df['Credit_Score_Label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#training a random forest
from sklearn.ensemble import RandomForestClassifier
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
# This version gives better accuracy but may cause memory issues on low-resource machines
# model = RandomForestClassifier(n_estimators=100, max_depth=None, max_features='sqrt', random_state=42)
# Lightweight version to avoid memory crashes
model = RandomForestClassifier(n_estimators=10,max_depth=5,max_features='sqrt',random_state=42)

model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

Note: A simplified RandomForest model is used here to avoid Jupyter kernel crashes. For better performance, increase the number of estimators and remove depth limits.

In [ ]:
#model evaluation
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Confusion Matrix
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

# Classification Report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

# Accuracy
print("Accuracy Score:", accuracy_score(y_test, y_pred))

In [ ]:
# Feature Importance
import matplotlib.pyplot as plt
import pandas as pd

importances = model.feature_importances_
features = X_train.columns
feat_imp = pd.Series(importances, index=features).sort_values(ascending=False)

plt.figure(figsize=(10,6))
feat_imp.plot(kind='bar')
plt.title("Feature Importance")
plt.tight_layout()
plt.show()

Testing Phase

In [ ]:
with zipfile.ZipFile("test.csv.zip",'r') as zip_ref:
    zip_ref.extractall()
df1=pd.read_csv("test.csv")
df1.head()

In [ ]:
print(df1.info())
print(df1.describe())

In [ ]:
df1 = df1[~df1['Name'].isnull()]

In [ ]:
df1.isnull().sum()

In [ ]:
df1['Type_of_Loan'] = df1['Type_of_Loan'].fillna('Unknown')

In [ ]:
df1['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce')

df1.loc[df1['Num_of_Delayed_Payment'].notna() & (df1['Num_of_Delayed_Payment'] < 0), 'Num_of_Delayed_Payment'] = np.nan

median_val = df1['Num_of_Delayed_Payment'].median()
df1['Num_of_Delayed_Payment'] = df1['Num_of_Delayed_Payment'].fillna(median_val)

In [ ]:
df1['Num_Credit_Inquiries'] = pd.to_numeric(df1['Num_Credit_Inquiries'], errors='coerce')
median_val = df1['Num_Credit_Inquiries'].median()
df1['Num_Credit_Inquiries'] = df1['Num_Credit_Inquiries'].fillna(median_val)

credit_age = pd.read_csv("test.csv", usecols=['Credit_History_Age'])
df1['Credit_History_Age'] = credit_age['Credit_History_Age']

In [ ]:
def parse_credit_history(age_str):
    if pd.isnull(age_str):
        return np.nan
    age_str = str(age_str).strip().replace('\xa0', ' ')
    age_str = re.sub(' +', ' ', age_str)
    
    match = re.match(r'(\d+)\s+Years?\s+and\s+(\d+)\s+Months?', age_str)
    if match:
        years = int(match.group(1))
        months = int(match.group(2))
        return years * 12 + months
    return np.nan

df1['Credit_History_Age'] = df1['Credit_History_Age'].apply(parse_credit_history)
median_val = df1['Credit_History_Age'].median()
df1['Credit_History_Age'] = df1['Credit_History_Age'].fillna(median_val)

In [ ]:
df1['Amount_invested_monthly'] = df1['Amount_invested_monthly'].astype(str).str.replace('__', '')
df1['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')
median_val = df1['Amount_invested_monthly'].median()
df1['Amount_invested_monthly'] = df1['Amount_invested_monthly'].fillna(median_val)

In [ ]:
df1['Monthly_Balance'] = pd.to_numeric(df1['Monthly_Balance'], errors='coerce')
median_val = df1['Monthly_Balance'].median()
df1['Monthly_Balance'] = df1['Monthly_Balance'].fillna(median_val)

In [ ]:
df1.isnull().sum()

In [ ]:
df1['Customer_ID'] = df1['Customer_ID'].astype(str).str.strip()

df1.reset_index(drop=True, inplace=True)

print(df1['Customer_ID'].isnull().sum())   
print(df1['Customer_ID'].nunique())

In [ ]:
def clean_age_value(val):
    if pd.isnull(val):
        return np.nan
    match = re.search(r'\d+', str(val))
    return int(match.group()) if match else np.nan

df1['Age'] = df1['Age'].apply(clean_age_value)

df1['Age'] = df1.groupby('Customer_ID')['Age'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)

In [ ]:
df1['Occupation'] = df1['Occupation'].replace(['______', 'None', '', ' '], np.nan)

df1['Occupation'] = df1.groupby('Customer_ID')['Occupation'].transform(
    lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan
)

In [ ]:
def clean_income(val):
    if pd.isnull(val):
        return np.nan
    match = re.search(r'\d+', str(val))
    return int(match.group()) if match else np.nan

df1['Annual_Income'] = df1['Annual_Income'].apply(clean_income)

df1['Annual_Income'] = df1.groupby('Customer_ID')['Annual_Income'].transform(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.median()
)

In [ ]:
def fix_inhand_salary_consistent_fast(df1):
    df1 = df1.copy()
    
    salary_per_cust = df1.groupby('Customer_ID')['Monthly_Inhand_Salary'].transform(
        lambda x: x.median() if not x.dropna().empty else df1['Monthly_Inhand_Salary'].mode()
    )
    
    df1['Monthly_Inhand_Salary'] = salary_per_cust
    return df1

df1 = fix_inhand_salary_consistent_fast(df1)

In [ ]:
def fast_fix_by_mode(df1, column_name):
    mode_per_customer = df1.groupby('Customer_ID')[column_name].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
    df1[column_name] = mode_per_customer
    return df1

df1 = fast_fix_by_mode(df1, 'Num_Bank_Accounts')
df1 = fast_fix_by_mode(df1, 'Num_Credit_Card')
df1 = fast_fix_by_mode(df1, 'Interest_Rate')
df1 = fast_fix_by_mode(df1, 'Num_of_Loan')

In [ ]:
df1['Delay_from_due_date'] = df1['Delay_from_due_date'].abs()

df1['Num_of_Delayed_Payment'] = df1['Num_of_Delayed_Payment'].apply(lambda x: np.nan if x < 0 else x)
df1['Num_of_Delayed_Payment'] = df1['Num_of_Delayed_Payment'].apply(lambda x: min(x, 50) if pd.notna(x) else x)

median_val = df1['Num_of_Delayed_Payment'].median()
df1['Num_of_Delayed_Payment'] = df1['Num_of_Delayed_Payment'].fillna(median_val)

In [ ]:
def clean_credit_limit_consistency(df1):
    df1 = df1.copy()
    
    def get_mode_or_median(x):
        mode_val = x.dropna().mode()
        return mode_val.iloc[0] if not mode_val.empty else df1['Changed_Credit_Limit'].median()
    
    df1['Changed_Credit_Limit'] = df1.groupby('Customer_ID')['Changed_Credit_Limit'].transform(get_mode_or_median)
    
    return df1

df1 = clean_credit_limit_consistency(df1)

In [ ]:
def clean_credit_mix(df1):
    df1 = df1.copy()
    global_mode = df1['Credit_Mix'].mode().iloc[0]

    df1['Credit_Mix'] = df1.groupby('Customer_ID')['Credit_Mix'] \
                         .transform(lambda x: x.mode().iloc[0] if not x.dropna().mode().empty else global_mode)
    return df1

df1 = clean_credit_mix(df1)

In [ ]:
def clean_outstanding_debt(df1):
    df1 = df1.copy()

    df1['Outstanding_Debt'] = df1['Outstanding_Debt'].replace('_', np.nan)
    
    df1['Outstanding_Debt'] = pd.to_numeric(df1['Outstanding_Debt'], errors='coerce')
    
    fallback_median = df1['Outstanding_Debt'].median()

    df1['Outstanding_Debt'] = df1.groupby('Customer_ID')['Outstanding_Debt'] \
        .transform(lambda x: x.mode().iloc[0] if not x.dropna().mode().empty else fallback_median)

    return df1

df1 = clean_outstanding_debt(df1)

In [ ]:
def clean_payment_of_min_amount(df1):
    df1 = df1.copy()

    df1['Payment_of_Min_Amount'] = df1['Payment_of_Min_Amount'].replace('nm', np.nan)

    global_mode = df1['Payment_of_Min_Amount'].mode().iloc[0]

    df1['Payment_of_Min_Amount'] = df1.groupby('Customer_ID')['Payment_of_Min_Amount'] \
        .transform(lambda x: x.mode().iloc[0] if not x.dropna().mode().empty else global_mode)

    return df1

df1 = clean_payment_of_min_amount(df1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
valid_values = [
    'High_spent_Small_value_payments',
    'Low_spent_Large_value_payments',
    'Low_spent_Medium_value_payments',
    'Low_spent_Small_value_payments',
    'High_spent_Medium_value_payments',
    'High_spent_Large_value_payments'
]

df1_clean = df1[df1['Payment_Behaviour'].isin(valid_values)].copy()
df1_dirty = df1[~df1['Payment_Behaviour'].isin(valid_values)].copy()

le = LabelEncoder()
df1_clean['Payment_Behaviour_Label'] = le.fit_transform(df1_clean['Payment_Behaviour'])

features = ['Monthly_Inhand_Salary', 'Outstanding_Debt', 'Total_EMI_per_month',
            'Credit_Utilization_Ratio', 'Monthly_Balance', 'Num_of_Delayed_Payment']

X = df1_clean[features]
y = df1_clean['Payment_Behaviour_Label']

model = RandomForestClassifier(random_state=42)
model.fit(X, y)

df1_dirty_pred = df1_dirty.copy()
df1_dirty_pred['Payment_Behaviour_Label'] = model.predict(df1_dirty[features])
df1_dirty_pred['Payment_Behaviour'] = le.inverse_transform(df1_dirty_pred['Payment_Behaviour_Label'])

df1.loc[df1_dirty_pred.index, 'Payment_Behaviour'] = df1_dirty_pred['Payment_Behaviour']

In [ ]:
df1 = df1.drop(columns=['Customer_ID'])

from sklearn.preprocessing import LabelEncoder
le_target = LabelEncoder()
df1['Credit_Score_Label'] = le_target.fit_transform(df1['Credit_Score'])

categorical_cols = df1.select_dtypes(include='object').columns.tolist()
categorical_cols.remove('Credit_Score')  # already handled

df1 = pd.get_dummies(df1, columns=categorical_cols, drop_first=True)

X = df1.drop(columns=['Credit_Score', 'Credit_Score_Label'])
y = df1['Credit_Score_Label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
model = RandomForestClassifier(n_estimators=10,max_depth=5,max_features='sqrt',random_state=42)
model.fit(X_train, y_train)
test_predictions = model.predict(df1)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("Accuracy Score:", accuracy_score(y_test, y_pred))